#!/bin/bash

export HUBOT_OPENSTACK_COMPUTE_PROVIDER=openstack
export HUBOT_OPENSTACK_COMPUTE_USERNAME=
export HUBOT_OPENSTACK_COMPUTE_PASSWORD=
export HUBOT_OPENSTACK_COMPUTE_AUTHURL=

# Options
export HUBOT_OPENSTACK_COMPUTE_REGION=
export HUBOT_OPENSTACK_COMPUTE_VERSION=
export HUBOT_OPENSTACK_COMPUTE_TENANTID=
export HUBOT_OPENSTACK_COMPUTE_TENANTNAME=
export HUBOT_OPENSTACK_COMPUTE_BASEPATH=
export HUBOT_OPENSTACK_COMPUTE_USESERVICECATALOG=
